@import 'reset';

.App {
  width: fit-content;
  margin: 100px auto;

  &__listOfTabs {
    display: flex;
    list-style: none;
    & li  {
      margin-right: 0;
    }
  }

  &__tab {
    box-sizing: border-box;
    background-color: rgb(255, 242, 242);
    border: 1px solid black;
    outline: none;
    height: 50px;
    &_active {
      transform: translateY(1px);
      border-width: 1px 1px 0 1px;
      border-color: black;
      border-style: solid;
      color: red;
      background-color: white;
    }

    &:hover {
      cursor: pointer;
    }
  }



  &__tabContent {
    padding-top: 0;
    width: 600px;
    height: 300px;
    border-top: 1px solid black;
  }
}

